*{
	margin: 0;
}

header{
	height: 80px;
	background-color: black;
	background-attachment: fixed;
}

a .link1{
	color: white;
	font-size: 50px;
}

.about{
	margin-top: 50px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.about::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 160px;
	height: 3px;
	background-color: red;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2px;
}

.main-container, .m-container{
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

.main-container{
	color: #1A5276;
}

.m1-container{
	position: relative;
}

.m1-container::after{
	content: '';
	position: absolute;
	bottom: 0;
	width: 80%;
	border-bottom: 1px solid #1C1C1C;
	left: 50%;
	transform: translateX(-50%);
	margin: -20px 0;
}

.position{
	color: #5F6A6A;
	font-size: 20px;
}

.description{
	font-size: 20px;
}

.image{
	width: 100%;
}

.image img{
	width: 30%;
	height: 300px;
}

.profile{
	width: 30%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.profile a{
	font-size: 16px;
	text-decoration: none;
	color: #21618C;
}

/*.quotes1{
	width: 100%
	height: 600px;
	margin-top: 20px;
	padding: 5% 10% 5% 10%;
	
}

.quotes1 blockquote{
	animation: amine 3s linear;
}

@keyframes amine{
	0%{
		transform: rotateY(90deg);
		filter: blur(0px);
	}
	100%{
		transform: rotateY(0deg);
		filter: blur(0);
	}
}*/



