*{
    margin: 0;
}
body{
    font-family: "Fira Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-weight: 400;
    font-size: 13px;
}
a{
    text-decoration: none;
}
.header-brand .brand{
    color: #fff;
    font-size: 30px;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.header{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.head-drop-links{
    display: none;
    border: none;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
    float:right!important;
}
.head-drop-links:hover{
    background-color: #ff8000;
}
.head-drop-links .material-icons{
    font-size: 28px;
}
.head-drop-links:hover .material-icons{
    color: #fff;
}
.header-links{
    margin-left: auto;
}
.header-links a{
    font-size: 14px;
    line-height: 45px;
    color: #fff;
    padding:5px 20px;
    text-transform: uppercase;
}
.header-links a:hover{
    transition: ease-in-out;
    border-bottom: 4px solid #48dad0;
    color: rgba(228,230,233,0.6);
}
.getready{
    color: #020916;
    background-color: #ddd;
    border-radius: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
.getready:hover{
    background-color:#fff;
}
.header-links a.getready{
    color: #020916;
}
.body-anim{
    position: absolute;
    top: 0;bottom: 0;
    z-index: -1;
    max-width: 100%;
    width: 100%;
}
.body-anim video{
    width: 100%;height: auto;
}
.home-title{
    text-align: center;
    color: #fff;
}
.home-title h1{
    font-size: 5.1em;
    font-weight: 400;
    line-height: 74px;
}
.home-title h2{
    font-weight: 100;
    font-size:23px;
    line-height: 44px;
    opacity: 0.7;
}
.home-content{
    margin-top: 7vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.home-content .getready{
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
}


@media (max-width:767px){
    .body-anim video{
        width: auto;height: 100%;
    }
}

/*-------------------pro.html-----------------------*/
.body-fixed{
    position: fixed;
    width: 100%;
}
.super-container{
    
}
.main-container{
    
}
.pro-content{
    width: 100%;
    display: flex;
}
.pro-content .project-show{
    background-color: #020818;
    padding: 50px 40px;
    display: none;
}
.pro-show-btn{
    cursor: pointer;
    padding: 5px 20px;
    background-color: #fff;
    color: #020818;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 5px 19px #bbb,-1px -5px 19px #bbb;
}
.pro-show-btn .pro-icon-design{
    margin-left: auto;
}
.pro-show-btn span.pro-show-title{
    font-weight: bolder;
    line-height: 30px;
}
.pro-show-btn span i{
    color: #f00;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
}
.pro-show-btn span i:nth-child(1){
    animation: de-anim3 1s infinite;
}
.pro-show-btn span i:nth-child(2){
    margin-left: -18px;
    animation: de-anim2 1s infinite;
}
.pro-show-btn span i:nth-child(3){
    margin-left: -18px;
    animation: de-anim1 1s infinite;
}
@keyframes de-anim1{
    33.33%{
        color:#f00;
    }
    66.66%{
        color: #fff;
    }
    99.99%{
        color: #f00;
    }
    
}
@keyframes de-anim2{
    33.33%{
       color: #fff;
    }
    66.66%{
        color: #f00;
    }
    99.99%{
        color: #fff;
    }
    
}
@keyframes de-anim3{
    33.33%{
        color: #fff;
    }
    66.66%{
        color: #fff;
    }
    99.99%{
        color: #f00;
    }
    
}
.pro-content .sidebar{
    width: 30%;
    background-color: #020818;
    height: 100vh;
    overflow: auto;
}
.pro-content .pro-details{
    width: 70%;
    height: 100vh;
    overflow: auto;
    position: relative;
    background: rgba(2,10,23,0.8);
    box-shadow:-2px 1px 25px #fff inset;
}
.sideHead{
    padding: 15px 0 15px 20px;
    box-shadow: -73px 0px 6px #fff;
}
.pro-language{
    color: #fff;
    font-size: 25px;
}
#close{
    display: none;
}
.sidebar .dropDown .project-name:hover{
       cursor: pointer;
       color: #55def0;
   }
.project-name{
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    box-shadow: 0px -1px 1px #fff;
}
.pro-drop{
    background-color: #29303b;
}
.pro-drop a{
    color: yellowgreen;
    display: block;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px -1px 1px #fff;
}
.rating{
    float: right;
}
.disable-overflow{
    height: 200px;
}
#hangman-pro-drop,#tourist-pro-drop,#sca-pro-drop,#calender-pro-drop{
    display:none;
}
.proDetailHead,.proDetailTitle{

    padding: 30px;
    font-weight: bolder;
    font-size: 54px;
    letter-spacing: -0.8rem;

}
.proDetailTitle{
    letter-spacing: -0.4rem;
}
.proDetailAnim{
    padding: 0 20px;
    color: #55fada;
}
.proDetailAnim:hover{
    cursor: pointer;
    color: #fff;
    text-shadow: 2px 3px 11px greenyellow;/*
    background-color: #a1e9da;*/
    -moz-transition-duration: 1s;
}
.proDetailAnim p{
    display: inline;
}
.requestBtn{
    line-height: 39px;
    height: 40px;
    text-align: center;
}
.rq-btn{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0px 1px 0px #55fada,0px -1px 0px #55fada;
}
.rq-btn:hover{
    color: #55fada;
}
.code-main {
    position: relative;
    height: 300px;
    width: 400px;
    margin: 20px auto;
    z-index: 1;
  }
  .c-small{
    position: absolute;
    z-index: -1;
    height:75px;
    width: 100px;
    /*! z-index: 1; */
  }
  .c-s1{
      box-shadow: -5px -4px 3px red;
  }
  .c-s2{
      right: 0;
      box-shadow: 5px -4px 3px greenyellow;
  }
  .c-s3{
      bottom: 0;
      box-shadow: -5px 4px 3px #55fada;
  }
  .c-s4{
      bottom: 0;right: 0;
      box-shadow: 5px 4px 3px darkmagenta;
  }
  .c-big{
      min-width: 80%;
      position: absolute;
      top: 50%;left: 50%;
      transform: translate(-50%,-50%);
  }
.c-big code{
    color: #fff;
    font-weight: bolder;
}
code .block{
    padding-left: 40px;
}
code .comment{
    color: #4af04a;
}
code .string,code .header-file{
    color:#09fdc8;
}
code .c-pink{
    color:#ff33cc; 
}
code .c-orange{
    color: darkorange;
}
code .keyword{
    color: red;
}
.pro-back{
    width: 100%;height: 100%;
    display: block;
}
.pro-back::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: -1;
    opacity: 0.8;
    transform: translate(-50%,-50%);
}

/*---------------slider----------------*/

    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
    }
    div#slider { overflow: hidden;
        width: 400px;
        height:300px;
        margin: 20px auto;
        border: 15px solid #000;
        box-shadow: 0px 5px 10px #fff;
    }
    div#slider figure img { width: 400px;height:300px; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }

/*-------------------------------------*/

/*---------------approach part---------*/

.approach{
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.hashtag{
    box-shadow: 0px 2px 15px greenyellow;
    font-weight: bold;
    margin: 10px auto 0;
    padding: 5px 10px;
    background: #fff;
}

/*----------------------------------*/


@media (max-width: 575.98px) { 
    .header-brand{
        display: flex;width: 100%;
    }
    .head-drop-links{
        display: block;
        float: right;margin-left: auto;
    }
    #header-links{
        display: none;
    }
    .header-links{
        padding: 20px;
        width: 185px;
        display: block;
        position: absolute;
        z-index: 2;
        top: 100px;
        right: 0;
        bottom: 0;
        background: #ff8000;
        animation: anim 1s; 
    }
    @keyframes anim {
         0%{
            right: -185px;
        }
        100%{
            right: 0;
        }
    }
    .header-links a{
        display: block;
    }
    .header-links a{
        padding: 0 10px;
        background-color: #fff;
        color: #008000;
        margin-bottom: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 5px solid #008000;
    }
    .header-links a:hover{
        border-bottom: none;
        background-color: #008000;
        color: #fff;
        border-left: 5px solid #fff;
    }
    .pro-content{
        display: block;
    }
    .pro-content .project-show{
        display: block;
    }
    #sidebar{
        display: none;
    }
    div#close{
        height: 30px;
        display: block;
        padding: 10px;
        box-shadow: 0px -1px 1px #fff inset;
    }
    div#close div i{
        cursor: pointer;
        color: #fff;
        float:right;
    }
    div#close div i:hover{
        background-color: #ff8000;
    }
    .pro-content .sidebar{
        width: 185px;
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100vh;
        background: #020818;
        animation: anim-reverse 1s;
    }
    @keyframes anim-reverse {
        0%{
           left: -185px;
       }
       100%{
           left: 0;
       }
   }
    .body-fixed{
        position: static;
    }
    .pro-content .pro-details{
        width: 100%;
        /*! height: 100%; */
        height: 100%;
    }
    .code-main{
        width: 90%;
    }
    .c-small{
        width: 50px;
    }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/*/ Large devices (desk992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/*/ Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/